<div class="container" id="main-header">
    <nav class="navbar navbar-expand-xl bg-body-tertiary">
    <div class="container">
        <a>Home </a>
        <a>Dashboard</a>
        <a>Logout</a> 
    </div>
    <div>
        <h1>The Tech Blog</h1>
    </div>
    </nav>
</div>