<body>
    <header>

        {{!-- NAVBAR --}}
        {{> navbar}}

</header>
<div class="container">
    <form>
        <div class="mb-3 w-50 p-3 d-grid">
            <label for="display-name" alt="first name" required > user name</label>
            <input class="rounded-1" type="text" id="display-name" />
        </div>

        <div class="mb-3 w-50 p-3 d-grid rounded-1">
            <label for="signup-email-login" alt="email" required>email:</label>
            <input class="form-input" type="text" id="signup-email-login" />
        </div>

        <div class="mb-3 w-50 p-3 d-grid">
            <label for="signup-password-login" required>password</label>
            <input class="form-input rounded-1" type="password" id="signup-password-login" placeholder="min 8 charr"="8" required />
        </div>

    </form>
</div>
<script src=""></script>

</body>